name: Sync README to docusaurus-yuanshen Repo

on:
  workflow_call:
    secrets:
      API_TOKEN_GITHUB:
        required: true
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source repo
      uses: actions/checkout@v4

    - name: Push README to docusaurus-yuanshen repo
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }} # 设置一个secret
      if: ${{ github.repository == 'cokice/List-of-genshin-University' && github.ref == 'refs/heads/main' }}
      run: |
        git config --global user.name 'howen'
        git config --global user.email 'howen.huang@qq.com'

        # Clone the destination repo
        git clone https://x-access-token:$API_TOKEN_GITHUB@github.com/cokice/docusaurus-yuanshen.git

        cd docusaurus-yuanshen
        git checkout main # 切换到main分支
        git pull origin main # 拉取最新的更改
        cp ../README.md docs/README.md # Copy the updated README
        git add docs/README.md
        git commit --allow-empty -m "Update README from List-of-genshin-University"
        git push origin main
